* {
  margin: 1em;
}
#createRequest {
  background-color: #41729f;
}

#searchRequest {
  background-color: #5885af;
}

#displayedRequest {
  min-width: 40%;
  justify-content: flex-start;
  border-color: black;
  border-style: solid;
  margin: 2%;
}

.request {
  background-color: #c3e0e5;
}

#voteButton {
  border: 2px solid black;
}

#textBox {
  width: 100%;
}
